body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#grid-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 256px;
    max-height: 256px;
    background-color: dimgray;
 
}
.div_grid{
    width: 16px;
    height: 16px;
    background-color: aqua;
    
}